body {
	margin: 0px;
	background-image: url('https://i.pinimg.com/originals/6d/35/16/6d3516fbaab75552f79c3d19facfbb34.jpg');
	background-size: 100%;
	font-family: arial;
}

#header {
	width: 100%;
	height: 75px;
	background-color: white;
	opacity: 0.7;
	border-radius: 0px 0px 10px 10px;
}

#content {
	width: 55%;
	margin: 15vh 22.5%;
	background-color: white;
	border-radius: 10px;
	border-style: solid;
}

#footer {
	width: 100%;
	height: 60px;
	background-color: white;
	opacity: 0.7;
	position: absolute;
	left: 0; right: 0; bottom: 0;
	border-radius: 10px 10px 0px 0px;
}

.logo {
	width: 86%;
	padding-left: 15px;
}

.navText {
	width: 7%;
	text-align: center;
}

.navLink {
	display: flex; 
	justify-content: center; 
	text-decoration: none;
	color: black;
}

.navText a:hover {	
	background-color: grey;
	color: white;

}

a.current {
	background-color: grey;
	color:white;
}

.contentText {
	font-size: 18px;
	padding: 0px 40px 0px 40px;
	text-align: justify;
}

.bedrijf {
	float: left;
	width: 40%;
	margin: 0px 30px 10px 10px;
}

.copyright {
	font-size: 16px;
	padding-left: 10px;
}

.computers {
	border: 1;
}

.price {
	color: green;
}

.pcTable {
	margin-bottom: 20px;
}